token.txt
database.db
__pycache__
database.xlsx
*.xlsx
.idea
*.swp
database.sqlite3
datas.*
venv/*
venv

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode
.dist
.python-version